/* style.css */

body {
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}

.manga-panel {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.manga-panel img {
    width: 100%;
    height: auto;
}

.manga-panel p {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

