.nav-links {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.next-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

